.skeleton_column {
  min-width: 300px;
  height: 100vh;
  background: #828282;
  animation: pulsing 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 12px;
}

@media screen and (max-width: 600px) {
  .skeleton_column {
    min-width: 180px;
    height: 100vh;
    background: #828282;
    animation: pulsing 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    border-radius: 12px;
  }
}

@keyframes pulsing {
  50% {
    opacity: 0.5;
  }
}
