.login_component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* padding: 10px; */
  /* border: 2px solid black; */
}
.login_input_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80px;
  width: 100%;
}

.login_input_div > label {
  color: #828282;
}

.login_input {
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
  border: 2px solid #2f80ed;
  border-radius: 8px;
  padding: 5px;
  margin-top: 10px;
  color: #828282;
}

.input_error {
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
  border: 2px solid crimson;
  border-radius: 8px;
  padding: 5px;
  margin-top: 10px;
  color: #828282;
}

.login_button {
  /* align-self: flex-start; */
  background-color: #2f80ed;
  color: white;
  padding: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  margin-top: 15px;
}
